<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <!-- Home-screen widget provider -->
        <receiver
            android:name=".presentation.widget.SpinWheelWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/spin_wheel_widget_info" />
        </receiver>

        <!-- Transparent spin animation activity, launched from widget tap -->
        <activity
            android:name=".presentation.SpinActivity"
            android:exported="false"
            android:theme="@style/Theme.SpinActivity" />

    </application>

</manifest>
